body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



















/*BilalReactTooltipProject*/

/*#root{
  max-width: 900px;  
  background: gray;
  padding: 10px;
  margin-top :20px;
  margin-left: auto;
  margin-right: auto;
}
#root div span{
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  margin:5px;
}
#root h2{
  
  margin: auto;
  padding: 10px;
  background: darkblue;
  color: #fff;
margin-bottom: 20px;
}*/